<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">OnFleeks</h1>
  <div class="col-lg mx-auto">
    <p class="lead mb-4">Séries TV en illimité sur tous vos écrans 📺</p>
  </div>
</div>

<div>
  <div class="col-10 mx-auto">
    <div class="d-flex justify-content-between mb-3">
      <h2>Nos Séries</h2>
      <button
        routerLink="/tvshows/add"
        class="btn btn-success btn-lg"
      >Nouvel Série
      </button>
    </div>

    <ng-container *ngIf="tvShows.length > 0">
      <div class="row d-flex justify-content-between">
        <div *ngFor="let tvShow of tvShows"
             [routerLink]="['/tvshows',tvShow.id]"
             class="card m-3" style="width: 18rem;"
        >
          <img class="card-img-top" [src]="tvShow.imgUrl" alt="Card image cap">

          <div class="card-body">

            <h6></h6>
            <h5 class="card-title">{{tvShow.id}}. {{tvShow.name}}</h5>

            <p class="card-text">Sortie le {{tvShow.firstSeasonOutDate | date:'dd/MM/yyyy'}}</p>
            <a href="#" class="btn btn-primary">Voir Détails</a>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>


